@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
$darkershadow: 0 3px 6px rgba(0, 0, 0, 0.6);
$card: rgb(26, 31, 39);
$clear: rgba(0, 0, 0, 0); 
$black: rgb(34, 40, 49);
$grey: rgb(57, 62, 70);
$teal: rgb(29, 215, 225);
$lightgrey: rgb(225, 223, 223);
$primary-font: 'Red Hat Display', sans-serif;
$font-weights: (
  "light": 200,
  "regular": 400,
  "bold": 700
);

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@mixin flex($direction, $alignment, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $alignment;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  font: inherit;
  box-sizing: inherit;
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}

body {
  font-family: $primary-font;
  background-color: $black;
  color: $lightgrey;
  line-height: 1.6;
}

h1 {
  font-size: 2rem;
}

header {
  @include flex(row, center, center);
  font-weight: weight(bold);
  color: var($lightgrey);
  padding: 20px 50px;
  height: 50px;
  background-color: var($clear);
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-height: 48px;
  padding: 10px 0px;
  font-size: 1.1rem;
  background: var($clear);

    a {
      color: $teal;
    }
}