input {
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 0.9rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: weight(bold);
  line-height: 1.6;
}

textarea {
  resize: none;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.personal-info-form-container {
  @include flex(column, center, center);
  gap: 10px;
  background-color: $card;
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 500px;
  border-radius: 10px;
}

.personal-info-form {
  @include flex(column, center, center);
  gap: 10px;
  
  input {
    width: calc(100% - 16px);
  }
}

.personal-info-name,
.personal-info-contact {
  @include flex(row, center, center);
  gap: 10px;
  width: 100%;
}