.forms-section {
  @include flex(column, center, center);
  gap: 1rem;
}

input {
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  font-size: 0.9rem;
  background-color: $grey;
  color: $lightergrey;
  width: calc(100% - 16px);
}

h2 {
  font-size: 1.6rem;
  font-weight: weight(bold);
  margin-bottom: -5px;
}

textarea {
  resize: none;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 10px;
  background-color: $grey;
  color: $lightergrey;
}

button {
  margin-top: 0.5rem;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  position: relative;

  &:active {
    top: 2px;
  }
}

li {
  list-style: none;
}

.form-container {
  @include flex(column, space-between, center);
  gap: 1.5rem;
  width: 500px;
  background-color: $card;
  box-shadow: $darkershadow;
  padding: 1.5rem;
  border-radius: 10px;
}

.form {
  @include flex(column, space-between, center);
  gap: 0.5rem;
}

.personal-info-name,
.personal-info-contact {
  @include flex(row, center, center);
  gap: 0.5rem;
  width: 100%;
}

.add-btn {
  width: 60px;
  background-color: var(--custom-color);
  color: $black;
  border: 2px solid var(--custom-color);

  &:hover {
    color: var(--custom-color);
    background-color: $black;
  }
}

#education-header,
#experience-header {
  @include flex(row, center, space-between);
  font-weight: weight(bold);
}

#button-container {
  @include flex(row, center, center);
  gap: 0.5rem;
}

.update-btn,
.delete-btn {
  font-size: 1rem;
  width: 20px;
  height: 20px;
  line-height: 0;
  margin: 0;
  background-color: $lightgrey;
  border: 2px solid $lightgrey;
}

.update-btn:hover{
  background-color: $black;
  color: rgb(24, 198, 38);
}

.delete-btn:hover{
  background-color: $black;
  color: red;
}

@media only screen and (max-width: 700px){
  .form-container {
    width: 320px;
    background-color: $card;
    box-shadow: $darkershadow;
    padding: 1.5rem;
    border-radius: 10px;
  }
  
  .form {
    @include flex(column, space-between, center);
    gap: 0.5rem;
  }
  
}