.resume-preview {
  @include flex(column, center, flex-start);
  gap: 1rem;
  position: relative;
}

.resume-page {
  display: grid;
  grid-template-columns: 1fr 180px;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:  
  "header header-sidebar"
  "experience sidebar";
  gap: 1rem;
  background-color: $lightergrey;
  width: 580px;
  height: calc(580px * 1.29411764706);
  position: sticky;
  top: 1.5rem;
  color: $black;
  padding: 3rem;
  box-shadow: $darkershadow;
  word-break: break-word;

  h1 {
    font-size: 2.5rem;
    font-weight: weight(bold);
    line-height: 1.3;
    color: $text-teal;
  }

  h2 {
    font-size: 1.3rem;
    line-height: 1.3;
    margin-bottom: 0.3rem;
  }

  h3 {
    color: $text-teal;
    font-size: 1rem;
    font-weight: weight(bold);
  }

  p {
    font-size: 0.8rem;
    line-height: 1.3;
    word-wrap: break-word;
    color: $grey;
  }

  i {
    margin-right: 5px;
  }
}

.resume-container {
  width: fit-content;
}

#header-preview {
  grid-area: header;
}

#header-sidebar-preview {
  grid-area: header-sidebar;
  
  p {
    line-height: 1.6;
  }
}

#experience-preview {
  grid-area: experience;
  @include flex(column, space-around, flex-start);
  gap: 1rem;
}

.experience-entry,
.education-entry {
  line-height: 1.3;
}

#company-label,
#exp-date-label {
  font-weight: weight(bold);
  font-size: 0.9rem;
}

#position-label {
  font-style: italic;
  font-size: 0.9rem;
}

#desc-text {
  font-size: 0.8rem;
  margin-top: 0.4rem;
  color: $grey;
}

#sidebar-preview {
  grid-area: sidebar;
  @include flex(column, flex-start, flex-start);
  gap: 1rem;
}

#skills-container,
#education-container,
#interests-container {
  @include flex(column, flex-start, center);
  gap: 0.6rem;
}

#school-label {
  font-weight: weight(bold);
  font-size: 0.8rem;
}

#degree-label {
  font-style: italic;
  font-size: 0.8rem;
}

#edu-date-label {
  font-size: 0.8rem;
}

#location-label {
  font-size: 0.8rem;
}