.resume-preview {
  @include flex(column, center, flex-start);
  gap: 1rem;
  position: relative;
}

.resume-page {
  display: grid;
  grid-template-columns: 1fr 180px;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:  
  "header header-sidebar"
  "experience sidebar";
  gap: 1rem;
  background-color: $lightergrey;
  width: 580px;
  height: calc(580px * 1.29411764706);
  position: sticky;
  top: 1.5rem;
  color: $black;
  padding: 3rem;
  box-shadow: $darkershadow;
  word-break: break-word;

  h1 {
    font-size: 2.5rem;
    font-weight: weight(bold);
    line-height: 1.3;
    color: var(--custom-color);
  }

  h2 {
    font-size: 1.3rem;
    line-height: 1.3;
    margin-bottom: 0.3rem;
  }

  h3 {
    color: var(--custom-color);
    font-size: 1rem;
    font-weight: weight(bold);
  }

  p {
    font-size: 0.8rem;
    line-height: 1.3;
    word-wrap: break-word;
    color: $grey;
  }

  i {
    margin-right: 5px;
  }
}

.resume-container {
  width: fit-content;
}

#header-preview {
  grid-area: header;
}

#header-sidebar-preview {
  grid-area: header-sidebar;
  
  p {
    line-height: 1.6;
  }
}

#experience-preview {
  grid-area: experience;
  @include flex(column, space-around, flex-start);
  gap: 1rem;
}

.experience-entry,
.education-entry {
  line-height: 1.3;
}

#company-label,
#exp-date-label {
  font-weight: weight(bold);
  font-size: 0.9rem;
}

#position-label {
  font-style: italic;
  font-size: 0.9rem;
}

#desc-text {
  font-size: 0.8rem;
  margin-top: 0.4rem;
  color: $grey;
}

#sidebar-preview {
  grid-area: sidebar;
  @include flex(column, flex-start, flex-start);
  gap: 1rem;
}

#skills-container,
#education-container,
#interests-container {
  @include flex(column, flex-start, center);
  gap: 0.6rem;
}

#school-label {
  font-weight: weight(bold);
  font-size: 0.8rem;
}

#degree-label {
  font-style: italic;
  font-size: 0.8rem;
}

#edu-date-label,
#location-label {
  font-size: 0.8rem;
}

@media only screen and (max-width: 700px){
  .resume-page {
    font-size: 6px;
    grid-template-columns: 1fr 90px;
    grid-template-rows: 1fr 6fr;
    width: 300px;
    height: calc(300px * 1.29411764706);
    padding: 1.6rem;

    h1 {
      font-size: 16px;
    }
  
    h2 {
      font-size: 12px;
    }
  
    h3 {
      font-size: 7px;
    }
  
    p {
      font-size: 6px;
    }
  }
  #experience-preview {
    gap: 10px;
  }

  #company-label,
  #exp-date-label {
    font-size: 7px;
  }

  #position-label {
    font-size: 7px;
  }

  #desc-text {
    font-size: 6px;
    margin-top: 3px;
  }

  #school-label {
    font-size: 7px;
  }

  #degree-label {
    font-size: 7px;
  }

  #edu-date-label,
  #location-label {
    font-size: 7px;
  }
  
}

@media only screen and (max-width: 420px){
  .resume-page {
    width: 280px;
    height: calc(280px * 1.29411764706);
  }
}